@font-face {
    font-family: 'arcade_normalregular';
    src: url('../fonts/arcade_n-webfont.eot');
    src: url('../fonts/arcade_n-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arcade_n-webfont.woff2') format('woff2'),
         url('../fonts/arcade_n-webfont.woff') format('woff'),
         url('../fonts/arcade_n-webfont.ttf') format('truetype'),
         url('../fonts/arcade_n-webfont.svg#arcade_normalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body, html {
	color: white;
	width: 100%;
	height: 100%;

	font-size: 16px;
	font-family: 'arcade_normalregular';

	
	background-image: url('../images/background-pattern.png');

}

.container {
	width: 960px;
	margin: 0 auto;
}

header {
	
}

h1 {
	color: #fafafa;
	text-shadow: 1px 1px 5px #000;
	text-shadow: 0px 2px 2px rgba(10, 10, 10, 0.4);

	font-size: 42px;
	font-weight: bold;
	line-height: 70px;
}

h2 {
	color: #fafafa;
	text-shadow: 1px 1px 5px #000;
	text-shadow: 0px 2px 2px rgba(10, 10, 10, 0.4);

	font-size: 32px;
	font-weight: bold;
	line-height: 40px;	
}

#content {
	/* margin-bottom: -50px; */
}

footer {
	margin-top: 10px;
	color: #fafafa;
	text-shadow: 1px 1px 1px #000;
	width: 100%;
	/*
		position: absolute;
		bottom: 0;
	 */
	
	background: rgba(22,22,22, 0.5);
	border-top: black solid thin;
	/*opacity: 0.5;*/
	line-height: 50px;
}

canvas {
	border: thin solid black;
	background: white;
}

p {
	margin: 1em 0;
}

canvas {
	background-image: url('../images/background.png');
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.kill-message {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-transform: uppercase;
	font-size:30px;
	opacity: 0;
	color:red;
	display:inline-block;
}